/* main */
main {
  margin-top: 10px;
}
/* section img */
.img-food1,
.img-food2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  overflow: hidden;
}
.sec-img .father-si {
  position: relative;
}
.shop-intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  width: 80%;
  font-size: 1.2rem;
  font-weight: bold;
  color: #1e3a8a;
}

.sec-img .shop-intro h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  text-transform: uppercase;
}

/* section choose */
.sec-choose {
  margin-top: 10px;
}
.desc-choose {
  font-size: 1.5rem;
}
.desc-title {
  color: #2fa1c5;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.img-cat,
.img-dog {
  margin: 10px 0;
  position: relative;
}
.img-cat:hover,
.img-dog:hover {
  transform: translateY(-10px);
  transition: 0.5s;
  transform: scale(1.1);
}
/* section items */
.sec-item .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Giới hạn tối đa 2 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.bg-item {
  margin: 20px 0;
  padding: 50px 200px;
  background-image: linear-gradient(to bottom, #2fa1c5, #a3eeee);
}
.sec-item {
  row-gap: 20px;
}
.sec-item .desc-sp {
  font-weight: bold;
  color: #fff;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif, monospace;
}
.sec-item .btn-xem {
  background-color: #0167ab;
  color: #fff;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 15px;
  font-size: 1.2rem;
}
.sec-item .money {
  color: brown;
  font-weight: bold;
  text-align: center;
}

.sec-item .card {
  padding: 5px;
}
.sec-item .desc-food {
  text-align: center;
  color: #11386f;
}
.sec-item .img-card-hv:hover {
  transform: translateY(-5px);
  transform: scale(1.05);
  transition: 0.3s;
}
/*  section why choose*/
.sec-why-choose {
  margin: 10px 0;
}
.sec-why-choose .card {
  border: none;
}
.sec-why-choose .img-why-choose {
  width: 50%;
  margin: 0 auto;
  transition: transform 0.8s ease-in-out;
}
.sec-why-choose .img-why-choose:hover {
  transform: rotateY(360deg); /* xoay 360 độ theo trục y */
}
.sec-why-choose .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Giới hạn tối đa 3 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.sec-why-choose .desc-wc {
  text-align: center;
}
.sec-why-choose .card-title,
.h2-wc {
  color: #0167ab;
  font-weight: bold;
}
.sec-why-choose .card-text {
  color: #818181;
}
