/* all */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header */
/* head top */
.head__top {
  background-color: #2fa1c5;
  height: 60px;
}
#search {
  padding-left: 5px;
  height: 40px;
  width: 250px;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
}
.btn-search {
  height: 40px;
  width: 40px;
  border-radius: 0 5px 5px 0;
  border: none;
  cursor: pointer;
  background: #fff;
}
.shop {
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
}
/* head bot */
.head__bottom {
  margin-top: 10px;
}
.font-nav {
  font-weight: bold;
  color: #0e92ea;
}
.nav-item:hover {
  transition: 0.1s;
  transform: scale(1.1);
}
.font-nav:hover {
  transition: 0.1s;
  color: #091baa;
}
.box-btn {
  gap: 10px;
}
.btn-si {
  background-image: linear-gradient(to right, #6a11cb, #2575fc);
  color: #fff;
  border: none;
}
.btn-su {
  background-image: linear-gradient(to right, #4a90e2, #9013fe);
  color: #fff;
  border: none;
}

.btn-si:hover {
  background: linear-gradient(to right, #0f172a, #1e3a8a);
  transform: scale(1.05);
}
.btn-su:hover {
  background: linear-gradient(to right, #0f172a, #1e3a8a);
  transform: scale(1.05);
}
